* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
}

#controls {
    background-color: lightskyblue;
    height: 10vh;
    width: 50vw;
    margin-bottom: 10px;
    user-select: all;
}

#container {
    display: flex;
    flex-wrap: wrap;
    background-color: azure;
    height: 80vh;
    aspect-ratio: 1/1;
    user-select: none;
}

.colored {
    background-color: aqua;
}

.hovered {
    filter:brightness(0.9);
}

.base {
    background-color: azure;
}